.card-margem{
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 10%;
}
.card-margem-side{
    margin-right: 3%;
    margin-left: 3%;
}

.h4_1{
    font-family: Montserrat;
    color: #808285;
}

.fundo-cinza{
    background-color: #505050;
}

hr.separator {
    border: 2px solid #ffc107;
    width: 7%;
  }

hr.separator2 {
border: 2px solid #505050;
width: 100%;
}






.mainFont{
    font-family: Montserrat;
}

.yellow-text{
    color: #ffc107;
}

  .b{
    font-weight: bold;
    text-transform: uppercase;
  }

